
#editPage{
    @include createGrid(2,1);
    @include squishElements($squish);
    h1{
        @include createTextBackground($background-white,$dropShadow,$radius,0);
        grid-row:1/1;
        grid-column:1/-1;
        font-size:$fontSize-h1;
        padding:3%;
        text-align:center;
        margin-bottom:2%;
    }
    #backToCalendar{
        @include createTextBackground($background-white,$dropShadow,$radius,0);
        @include doFontStuff("Montserrat",$fontSize-p);
        border-radius:10px;
        padding-top:2%;
        padding-bottom:2%;
        color:red;
    }
    #editContainer{
            @include createGrid(12,7);
            #editInfoContainer{
                grid-row:1/1;
                grid-column:1/-1;
            }
            #editTimeContainer{
                grid-row:2/2;
                grid-column:1/-1;
            }
            #saveValuesBtn{
                grid-column:1/-1;
                grid-row:7/7;
            }
            input{
                @include createTextBackground($background-white,$dropShadow,$radius,0);
                @include doFontStuff("Montserrat",$fontSize-p);
                border-radius:10px;
                padding:2%;
                margin-bottom:2%;
            }
            select{
                @include createTextBackground($background-white,$dropShadow,$radius,0);
                @include doFontStuff("Montserrat",$fontSize-p);
                border-radius:10px;
                padding:2%;
                width:77%;
                margin-bottom:2%;
            }
            #saveValuesBtn{
                @include createTextBackground($background-white,$dropShadow,$radius,0);
                @include doFontStuff("Montserrat",$fontSize-p);
                border-radius:10px;
                padding-top:2%;
                padding-bottom:2%;
                margin-top:2%;
            }
            .dayButton{
                @include createTextBackground($background-white,$dropShadow,$radius,0);
                @include doFontStuff("Montserrat",$fontSize-p);
                float:left;
                padding:2%;
                margin-left:1%;
                margin-top:2%;
                grid-column:1/-1;
            }
            .selectedBorder{
                border:2px solid black;
            }
        }
}
