
#editPage{
    @include createGrid(2,1);
    @include squishElements($squish);
    h1{
        @include createTextBackground($background-white,$dropShadow,$radius);
        grid-row:1/1;
        grid-column:1/-1;
        font-size:$fontSize-h1;
        padding:3%;
        text-align:center;
        margin-bottom:$margin-general;
    }
    #backToCalendar{
        @include createTextBackground($background-white,$dropShadow,$radius);
        @include doFontStuff("Montserrat",$fontSize-p);
        border-radius:10px;
        margin-top:$margin-general;
        padding-bottom:$margin-general;
        padding:6%;
        width:$width-extra;
    }
    #editContainer{
            @include createGrid(12,7);
            #editInfoContainer{
                grid-row:1/1;
                grid-column:1/-1;
            }
            #editTimeContainer{
                grid-row:2/2;
                grid-column:1/-1;
            }
            #saveValuesBtn{
                grid-column:1/-1;
                grid-row:7/7;
            }
            input{
                @include createTextBackground($background-white,$dropShadow,$radius);
                @include doFontStuff("Montserrat",$fontSize-p);
                border-radius:10px;
                padding:2%;
                margin-bottom:$margin-general;
                width:$width-general;
            }
            select{
                @include createTextBackground($background-white,$dropShadow,$radius);
                @include doFontStuff("Montserrat",$fontSize-p);
                border-radius:10px;
                padding:2%;
                width:$width-general;
                margin-bottom:$margin-general;
                width:$width-general;
            }
            #editTimeContainer{
                margin-top:$margin-extra;
                margin-bottom:$margin-extra;
                p{
                    @include createTextBackground($background-white,$dropShadow,$radius);
                    color:black;
                    padding:2%;
                    text-align:center;
                    margin-bottom:$margin-general;
                    width:$width-general;
                }
                #TimeStart{
                    margin-bottom:4%;
                    width:$width-general;
                }
            }
            #saveValuesBtn{
                @include createTextBackground($background-white,$dropShadow,$radius);
                @include doFontStuff("Montserrat",$fontSize-p);
                grid-column:1/-1;
                border-radius:10px;
                padding:6%;
                padding-bottom:$margin-general;
                margin-top:$margin-general;
                margin-bottom:$margin-general;
                width:$width-extra;
            }
            .dayButton{
                @include createTextBackground($background-white,$dropShadow,$radius);
                @include doFontStuff("Montserrat",$fontSize-p);
                float:left;
                padding:2%;
                margin-left:1%;
                margin-top:$margin-general;
                grid-column:1/-1;
            }
            .selectedBorder{
                border:2px solid black;
            }
        }
}
