#calendarPage{
    @include createGrid(12,7);
    @include squishElements($squish);
    //specific styling
    #weekPicker{
        grid-column:1/-1;
        grid-row:1/1;
        @include createTextBackground($background-white,$dropShadow,$radius);
        @include doFontStuff("Montserrat",$fontSize-h2);
        text-align: center;
        padding:$padding-general;
    }
    #weeklyCalendar{
        grid-column:1/-1;
        grid-row:2/5;
        display:grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(7, 1fr);
    }
    #dayOfWeek{
        margin-top:5%;
        grid-column:1/-1;
        grid-row:6/6;
        display:grid;
        grid-template-columns: repeat(7, 1fr);
        padding:1%;
        text-align: center;
        p{
            @include createTextBackground($background-white,$dropShadow,$radius);
            @include doFontStuff("Montserrat",$fontSize-p);
        }
    }
    #taskArea{
        grid-column:1/-1;
        grid-row:7/7;
        display:grid;
        grid-template-columns: repeat(7, 1fr);
        .visualCalendar{
            @include createTextBackground($background-white,$dropShadow,$radius);
            height:30vh;
        }
        div{
            p{
                @include doFontStuff("Montserrat",12px);
                justify-content: center;
            }
        }
        div>div:last-child{
            border-radius:0 0 10px 10px;
        }
        div>div:first-child{
            border-radius:10px 10px 0 0;
        }
        //Styles based on category
        .itemBox_Home{
            @include styleEventBoxes($event-bg-home);
        }
        .itemBox_Work{
            @include styleEventBoxes($event-bg-work);
        }
        .itemBox_School{
            @include styleEventBoxes($event-bg-school);
        }
        .itemBox_Vacation{
            @include styleEventBoxes($event-bg-vacation);
        }
    }
    #dailyTaskList{
        grid-row:8/11;
        grid-column:1/-1;
        border:2px solid black;
        @include createTextBackground($background-white,$dropShadow,$radius);
        overflow:scroll;
        .theme_Home{
            //@include styleEventBoxes($event-bg-home);
            background-color: lighten($event-bg-home, 20%);
        }
        .theme_Work{
            //@include styleEventBoxes($event-bg-work);
            background-color: lighten($event-bg-work, 20%);
        }
        .theme_School{
            //@include styleEventBoxes($event-bg-school);
            background-color: lighten($event-bg-school, 20%);
        }
        .theme_Vacation{
            //@include styleEventBoxes($event-bg-vacation);
            background-color: lighten($event-bg-vacation, 20%);
        }
    }
    #addEventButton{
        grid-row:11/11;
        grid-column:1/-1;
        @include createTextBackground($background-white,$dropShadow,$radius);
        @include doFontStuff("Montserrat",$fontSize-p);
        text-decoration:none;
        border:2px solid black;
        text-align:center;
        justify-content:center;
        color:black;
        padding-top:3%;
    }
    .events>a{
        @include doFontStuff("Montserrat",$fontSize-p);
        text-decoration:none;
        padding:2%;
        border-bottom-style:solid;
        border-bottom-color:black;
        border-bottom-width: 2px;
        color:black;
        margin-bottom:3%;
    }
    li:first-child{
        padding-top:2%;
    }
    li{
        margin-bottom:5%;
        padding-left:2%;
    }
    .selectedBorder{
        border:2px solid black;
        height:40vh;
    }
}
