#calendarPage{
    @include createGrid(7,7);
    @include squishElements($squish);
    //specific styling
    #weekPicker{
        grid-column:1/-1;
        grid-row:1/1;
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        @include createTextBackground($background-white,$dropShadow,$radius,0);
        @include doFontStuff("Montserrat",$fontSize-h2);
        text-align: center;
        padding:$padding-general;
    }
    #weeklyCalendar{
        grid-column:1/-1;
        grid-row:2/2;
        display:grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(7, 1fr);
    }
    #dayOfWeek{
        margin-top:5%;
        grid-column:1/-1;
        grid-row:3/3;
        display:grid;
        grid-template-columns: repeat(7, 1fr);
        padding:1%;
        text-align: center;
        p{
            @include createTextBackground($background-white,$dropShadow,$radius,0);
            @include doFontStuff("Montserrat",$fontSize-p);
        }
    }
    #taskArea{
        grid-column:1/-1;
        grid-row:4/4;
        display:grid;
        grid-template-columns: repeat(7, 1fr);
        .visualCalendar{
            @include createTextBackground($background-white,$dropShadow,$radius,0);
            height:30vh;
        }
    }
    #dailyTaskList{
        grid-column:1/-1;
        grid-row:5/6;
        border:2px solid black;
        @include createTextBackground($background-white,$dropShadow,$radius,0);
    }
    .events>a{
        @include doFontStuff("Montserrat",$fontSize-p);
        text-decoration:none;
        padding:2%;
        border-bottom-style:solid;
        border-bottom-color:black;
        border-bottom-width: 2px;
        color:black;
        margin-bottom:3%;
    }
    .events>span{
        margin-right:5%;
    }
    .selectedBorder{
        border:2px solid black;
        height:40vh;
    }
}
