// @import "mixins";
#homePage{
    @include createGrid(12,1);
    @include squishElements($squish);
    //specific styling
    h1{
        @include createTextBackground($background-white,$dropShadow,$radius);
        @include doFontStuff("Montserrat",$fontSize-h1);
        grid-row:1/2;
        text-align: center;
        margin-top:5%;
        padding:3%;
    }
    #dailyEvents{
        //add padding back
        @include createTextBackground($background-white,$dropShadow,$radius);
        grid-row:3/6;
        height:30vh;
        h2{
            @include doFontStuff("Montserrat",$fontSize-h2);
            margin-bottom:$margin-b;
        }
        ul{
            list-style-type:circle;
            padding-left:3%;
        }
        ul>li{
            margin-bottom:$margin-general;
        }
    }
    #continue{
        @include createTextBackground($background-white,$dropShadow,$radius);
        @include doFontStuff("Montserrat",$fontSize-p);
        grid-row:8/9;
        margin-top:5%;
        padding:3%;
        text-align:center;
        text-decoration:none;
        justify-content: center;
        color:black;
    }
}
//comment
