//Establishes grid
@mixin createGrid($rowNum,$colNum){
    display:grid;
    grid-template-rows: repeat($rowNum, 1fr);
    grid-template-columns: repeat($colNum, 1fr);
    height:100vh;
}
//creates background behind the text
@mixin createTextBackground($background-color,$drop-shadow,$border-radius,$padding){
    background-color:$background-color;
    border-radius:$border-radius;
    box-shadow: $drop-shadow;
    padding:$padding;
}
@mixin doFontStuff($font,$fontSize){
    font-family:$font,sans-serif;
    font-size:$fontSize;
}
@mixin squishElements($howMuchSquish){
    margin-left:$howMuchSquish;
    margin-right:$howMuchSquish;
}

//Dynamically styles event boxes
@mixin styleEventBoxes($box-color){
    background-color:$box-color;
    border:2px solid black;
}
