#overviewPage{
    @include squishElements($squish);
    h1{
        @include createTextBackground($background-white,$dropShadow,$radius,0);
        @include doFontStuff("Montserrat",$fontSize-h1);
        margin-bottom:2%;
        text-align:center;
        padding:$padding-general;
    }
    #eventOverview{
        @include createTextBackground($background-white,$dropShadow,$radius,0);
        div>p{
            @include doFontStuff("Montserrat",$fontSize-p);
        }
        #details{
            padding:3%;
        }
        div{
            margin-bottom:$margin-general;
        }
    }
    button:nth-child(2){
        margin-left:$margin-general;
    }
    button{
        @include createTextBackground($background-white,$dropShadow,$radius,0);
        @include doFontStuff("Montserrat",$fontSize-p);
        width:45%;
        padding:$padding-general;
        float:left;
        margin-top:$margin-general;
    }
}
