//background colors
$background-white: rgba(225,225,225,.8);
$background-red: rgba(255, 89, 89, 0.75);
$background-green: rgba(115, 255, 137, 0.8);;
//Font Sizes
$fontSize-h1: 38px;
$fontSize-h2: 25px;
$fontSize-p: 18px;
//Drop Shadow
$dropShadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
//Border Radius
$radius:10px;
//Margin
$margin-b:5%;
$margin-general:2%;
$margin-extra:4%;
//grid margin
$squish:5%;
//General Padding
$padding-general:3%;
//width
$width-general:90%;
$width-half:45%;
