//background colors
$background-white: rgba(225,225,225,.8);
$background-red: rgba(255, 89, 89, 0.75);
$background-green: rgba(115, 255, 137, 0.8);;
//Font Sizes
$fontSize-h1: 40px;
$fontSize-h2: 30px;
$fontSize-p: 18px;
//Drop Shadow
$dropShadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
//Border Radius
$radius:10px;
//Bottom margin
$margin-b:5%;
//grid margin
$squish:5%;
